@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');:root {
    --fondo-1: #ffffff; 
    --cart-2: #cea474; 
    --letra-3: #000000; 
    
    --fondo-4: #000000; 
    --cart-5: #403934; 
    --letra-6: #ffffff; 

    --fondo-7: #efbb62; 
    --cart-8: #754312; 
    --letra-9: #ffffff; 
  }

  body{
    background-color: var(--fondo-7);
    color: var(--letra-9);
    display: flex;
    text-align: center;
    justify-content: center;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Rubik Mono One', sans-serif;  
  }

  p{
    font-family: 'Caveat', cursive;
  }
  
  div{
    background-color: var(--cart-8);
  }