.contain_books{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 80px;
    gap: 40px ;
}

.book{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: start;
    background-color: bisque;
    border: 3px solid black;
    align-items: center; /* Alinea los elementos en la parte superior */
}
.book img{
    height: 300px;
    width: 200px;
}